body {
    font-family: Arial, sans-serif;
    background-color: #ffccff;
    text-align: center;
}

#tela-inicial {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: pink;
}

#tela-sangrenta {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}

.escondido {
    display: none;
}

.borda-rosa {
    padding: 20px;
    border: 5px solid #ff00ff;
}

main {
    padding: 20px;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

button {
    background-color: #ff00ff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #ff66ff;
}
